.bg-facebook {
    background-color: #3b5998;
  }
  .bg-twitter {
    background-color: #1da1f2;
  }
  .bg-instagram {
    background-color: #e1306c;
  }
  .bg-linkedin {
    background-color: #0077b5;
  }
  