<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-2 mb-4" *ngFor="let product of products; let i = index">
      <div class="card equal-card">
        <img [src]="product.image" class="card-img-top product-image" alt="{{ product.name }}">
        <div class="card-body text-center">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">Price: ${{ product.price }}</p>
          <button mat-raised-button color="primary" (click)="addToCart(product)">Add to Cart</button>
          <!-- <button mat-button (click)="openCartPopup()">View Cart</button> -->
        </div>
      </div>
    </div>
  </div>
</div>
